[submodule "mongodb"]
	path = mongodb
	url = https://github.com/edelight/chef-mongodb.git
[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "yum"]
	path = yum
	url = https://github.com/opscode-cookbooks/yum.git
